--
-- PostgreSQL database dump
--

\restrict hl4lciy3pa53P3YHVrx1NT9Je7a4kOLw2iZw0wikEHTuXNLrdYouahQq0ZmYYBP

-- Dumped from database version 17.11
-- Dumped by pg_dump version 17.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: emotions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emotions (
    id integer NOT NULL,
    user_id integer,
    score integer,
    created_at timestamp without time zone
);


ALTER TABLE public.emotions OWNER TO postgres;

--
-- Name: emotions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.emotions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.emotions_id_seq OWNER TO postgres;

--
-- Name: emotions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.emotions_id_seq OWNED BY public.emotions.id;


--
-- Name: pair_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pair_tasks (
    id integer NOT NULL,
    user_id integer,
    partner_id integer,
    task text,
    completed boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.pair_tasks OWNER TO postgres;

--
-- Name: pair_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pair_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pair_tasks_id_seq OWNER TO postgres;

--
-- Name: pair_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pair_tasks_id_seq OWNED BY public.pair_tasks.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    user_id integer,
    text text,
    response text,
    mood_score integer,
    is_pair_session boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_seq OWNER TO postgres;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: support_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.support_messages (
    id integer NOT NULL,
    user_id integer,
    message text,
    is_from_user boolean,
    created_at timestamp without time zone,
    is_read boolean
);


ALTER TABLE public.support_messages OWNER TO postgres;

--
-- Name: support_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.support_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.support_messages_id_seq OWNER TO postgres;

--
-- Name: support_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.support_messages_id_seq OWNED BY public.support_messages.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    vk_id character varying(50),
    name character varying(255),
    psychologist_subscription character varying(50),
    psychologist_end timestamp without time zone,
    psychologist_trial_start timestamp without time zone,
    created_at timestamp without time zone,
    has_seen_welcome boolean,
    partner_code character varying(20),
    partner_id integer,
    notifications_enabled boolean,
    voice_responses_enabled boolean,
    email character varying(255),
    phone character varying(20),
    password_hash character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: emotions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emotions ALTER COLUMN id SET DEFAULT nextval('public.emotions_id_seq'::regclass);


--
-- Name: pair_tasks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pair_tasks ALTER COLUMN id SET DEFAULT nextval('public.pair_tasks_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: support_messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_messages ALTER COLUMN id SET DEFAULT nextval('public.support_messages_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: emotions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.emotions (id, user_id, score, created_at) FROM stdin;
\.


--
-- Data for Name: pair_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pair_tasks (id, user_id, partner_id, task, completed, created_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: support_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.support_messages (id, user_id, message, is_from_user, created_at, is_read) FROM stdin;
1	1	╨┐╤А╨╛╨▒╨╗╨╡╨╝╤Л	t	2026-08-16 17:59:43.293455	f
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, vk_id, name, psychologist_subscription, psychologist_end, psychologist_trial_start, created_at, has_seen_welcome, partner_code, partner_id, notifications_enabled, voice_responses_enabled, email, phone, password_hash) FROM stdin;
4	\N	╨б╨╡╤А╨│╨╡╨╣	trial	2026-08-25 19:03:27.85224	\N	2026-08-22 18:46:29.170753	t	EDAB8674	\N	\N	t	S.khudonogov@mail.ru	+79041301827	11062ac770d1ead42dd94fadebe26d54:41cfad568e405554ce821344dce33cc6e8c4fc96b627110a138c30b449403994
\.


--
-- Name: emotions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.emotions_id_seq', 1, false);


--
-- Name: pair_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pair_tasks_id_seq', 1, false);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sessions_id_seq', 26, true);


--
-- Name: support_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.support_messages_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: emotions emotions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emotions
    ADD CONSTRAINT emotions_pkey PRIMARY KEY (id);


--
-- Name: pair_tasks pair_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pair_tasks
    ADD CONSTRAINT pair_tasks_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: support_messages support_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_messages
    ADD CONSTRAINT support_messages_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_emotions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_emotions_id ON public.emotions USING btree (id);


--
-- Name: ix_emotions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_emotions_user_id ON public.emotions USING btree (user_id);


--
-- Name: ix_pair_tasks_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pair_tasks_id ON public.pair_tasks USING btree (id);


--
-- Name: ix_pair_tasks_partner_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pair_tasks_partner_id ON public.pair_tasks USING btree (partner_id);


--
-- Name: ix_pair_tasks_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pair_tasks_user_id ON public.pair_tasks USING btree (user_id);


--
-- Name: ix_sessions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sessions_id ON public.sessions USING btree (id);


--
-- Name: ix_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sessions_user_id ON public.sessions USING btree (user_id);


--
-- Name: ix_support_messages_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_support_messages_id ON public.support_messages USING btree (id);


--
-- Name: ix_support_messages_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_support_messages_user_id ON public.support_messages USING btree (user_id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_vk_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_vk_id ON public.users USING btree (vk_id);


--
-- PostgreSQL database dump complete
--

\unrestrict hl4lciy3pa53P3YHVrx1NT9Je7a4kOLw2iZw0wikEHTuXNLrdYouahQq0ZmYYBP

